@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --hero-background-color: #ffb100b3;
    --big-font-color: rgb(53, 28, 28);
    --primary-font-color: black;
    --btn-background-color: #ff0000;
    --btn-font-color: #ffffff;
}

/* utility classes */

body {
    font-family: "Mukta", sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: Raleway;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;

}

.flex {
    display: flex;
    align-items: center;
}

.contaner {
    max-width: 11800px;
    margin-left: 50px;
    margin-right: 60px
}

.btn {
    padding: 10px;
    margin: 20px 70px;
    border: none;
    width: 155px;
    justify-content: center;
    background: var(--btn-background-color);
    color: var(--btn-font-color);
    font-weight: bold;
}

.btn:hover {
    background-color: #f83434;
}

img {
    max-width: 100%;
}

/* NAV BAR */
.section-1 {
    background-color: var(--hero-background-color);
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    height: auto;
    justify-content: space-between;
}

nav img {
    height: 60px;
}

nav h2 {
    font-size: 20px;
}

.delivery {
    gap: 5px;
    justify-content: end;
    margin: 20px 0;
}

.delivery i {
    font-size: 25px;
}

.delivery p {

    font-size: 15px;
    margin-right: 50px;
}


nav li a {
    font-size: 15px;
    color: var(--primary-font-color);

}

nav li {
    margin-right: 50px;
}

/* .nav-section-2 {
    margin-right: -32rem;
} */

.nav-section-2-i2 {
    display: none !important;
}

/*  hero section */

.hero {
    margin-top: 15vh;
    justify-content: space-between;
    margin-left: 5vw;
}

.hero-text {
    color: var(--big-font-color);
}

.hero-text p {
    padding: 5px;
    font-size: 13px;
    border: 2px dashed black;
    width: 370px;

}

.hero-text h1 {
    font-size: 110px;
    margin-top: -10px;
}

.hero-text h2 {
    font-size: 50px;
}

.hero-img img {
    filter: drop-shadow(0 20px 15px black);
    height: 400px;
    width: auto;

}

/* section-2 */
.section-2 {
    margin-top: 50px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
    gap: 2rem;
    color: #ffffff;
}

.section-2-part-2 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.popular {
    padding: 30px 20px;
    background-image: url(Images/popular.jpg);
    background-color: rgba(0, 0, 0, 0.43);
    background-blend-mode: multiply;
    background-size: cover;
    height: 67vh;
    width: 45vw;
    gap: 5px;
    border-radius: 10px;
    background-blend-mode: color-dodge;
}

.more-fun {
    padding: 30px 20px;
    background-image: url(Images/more-fun.jpg);
    background-color: rgba(0, 0, 0, 0.372);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 40vw;
    border-radius: 10px;
}

.frechilish {
    padding: 30px 20px;
    background-image: url(Images/frechilish.jpg);
    background-color: rgba(0, 0, 0, 0.466);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 40vw;
    border-radius: 10px;
}

/* sort-description  section*/

.section-3 {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
}

.testy-burger {
    text-align: center;
    color: var(--big-font-color);
}

.testy-burger-btn {
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--hero-background-color);
    height: 40px;
    width: 200px;
    padding: 13px;
    font-size: 14px;
    font-weight: 600;
}

.testy-burger h1 {
    margin-bottom: 20px;
}

.description-p {
    line-height: 30px;
    padding: 0 50px;
}

/* section-4 */

.section-4 {
    justify-content: space-evenly;
    margin-top: 40px;
}

.part {
    height: 400px;
    width: 320px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.part img {
    filter: drop-shadow(0 20px 10px black);
    height: 20em;
}

.part h2 {
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 10px;
    color: var(--big-font-color);
}

.part p {
    font-size: 10px;
    line-height: 15px;
}

.button {
    padding: 10px;
    margin: 20px 70px;
    border: none;
    height: 40px;
    width: 155px;
    background: var(--btn-background-color);
    color: var(--btn-font-color);
    font-weight: bold;
}

/* section-5 */
.section-5 {
    height: 420px;
    margin-top: 150px;
    justify-content: space-between;
    box-shadow: 14px 18px 20px 0px #a7a6a6;
}

.event-text {
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.event-text h3 {
    line-height: 1;
    margin-left: -18rem;
    color: var(--big-font-color);
}

.event-text h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: var(--big-font-color);
    line-height: 1;
}

.event-text p {
    font-weight: 300;
    line-height: 1.5;
}

.event-img img {
    height: 380px;
    width: 550px;
    margin-right: 1.5rem;
}

/* section-6 */
.section-6 {
    padding-top: 100px;
    height: 552px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#image-1 {
    display: inline;
    position: absolute;
    top: 10%;
    left: -58px;
    height: 40%;
    filter: drop-shadow(10px 20px 10px #a7a6a6);
}

#image-2 {
    position: absolute;
    bottom: -8%;
    right: -9%;
    height: 382px;
    filter: drop-shadow(10px 10px 20px #a7a6a6);
}

.reservation h3 {
    margin-left: 45%;
    color: var(--big-font-color);

}

.reservation h1 {
    margin-left: 36%;
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: var(--big-font-color);
}

.find-table {
    width: 100%;
    justify-content: center;
}

.column {
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.find-table input {
    padding: 10px;
    height: 3.2rem;
    top: 10px;
    width: 30%;
    font-size: large;
}


/* footer */

footer {
    width: auto;
    height: 25rem;
    background-image: url(Images/img-10\(footer-bgi\).jpg);
    background-color: rgba(0, 0, 0, 0.672);
    background-blend-mode: multiply;
    image-resolution: 2;
    background-size: cover;
    background-position: center;
    color: white;
}

/* footer section part-1 */
.footer-section-1 {
    justify-content: space-between;
}

.footer-section-1-part-1 {
    margin-left: 0.5rem;
    width: 50%;
}

.brandning {
    margin-top: 2rem;
    height: 6rem;

}

.brandning img {
    height: 8.5em;

}

.brandning h1 {
    margin-left: -13px;
    font-size: 2.2rem;
}

.footer-p {
    font-size: small;
    margin-left: 2rem;
    width: 20rem;
    line-height: 1.5rem;
}

/* footer section 1 part-2 */

.footer-section-1-part-2 {
    margin-top: 9rem;
    margin-right: 5.5rem;
}

.i1 {
    margin-bottom: 0.5rem;
}

.i1 i {
    color: #ffffff;
    padding-right: 20px;
    font-size: 1.2rem;

}

.i2 i {
    color: #ffffff;
    padding-right: 15px;
    font-size: 1.2rem;
}

/* footer section-2 */

.footer-section-2 {
    margin-top: 5rem;
    justify-content: space-between;
}

.footer-section-2-part-1 p {
    font-size: 0.8rem;
    margin-left: 1rem;
}

.footer-section-2-part-2 {
    gap: 10px;
    margin-right: 1rem;
}